<header class="header p-2">
  <nav class="navbar text-dark">
    <div class="logo d-flex">
      <div class="logo-img mx-3"></div>
      <div class="logo-txt h1 ml-2">
        <strong>Lorem Tour Agency</strong>
      </div>
    </div>

    <div class="date-picker">
      <form class="form-inline" [formGroup]="dateForm" (change)="sendDate(dateForm.value)">
        <div class="form-group">
          <span class="h5 mr-2">From:</span>
          <input class="form-control" type="date" name="dateFrom" formControlName="dateFrom">
          <span class="h5 mx-2">To:</span>
          <input class="form-control" type="date" name="dateTo" formControlName="dateTo">
        </div>
      </form>
    </div>
  </nav>
</header>