/* You can add global styles to this file, and also import other style files */
body {
  background: url('./assets/bg/body.jpg') no-repeat fixed;
  background-size: cover;
}
html, body {
  height: 100%;
}